In [1]:
#imports 
import pandas as pd 
import matplotlib as plt

In [2]:
#load data
prices1999 = pd.read_csv('data-csv/ResaleFlatPricesBasedonApprovalDate19901999.csv')
prices2012 = pd.read_csv('data-csv/ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv')
prices2014 = pd.read_csv('data-csv/ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv')
prices2017 = pd.read_csv('data-csv/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')

In [3]:
#need to combine all the data (drop street name)
df1999 = prices1999
df2012 = prices2012
df2014 = prices2014
df2017 = prices2017

#drop remaining lease column (because only >2017 has this column will recalc later)
df2017.drop('remaining_lease', axis='columns', inplace=True)
df = pd.concat([df1999,df2012,df2014,df2017],ignore_index=True)
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0
...,...,...,...,...,...,...,...,...,...,...
885418,2024-04,YISHUN,5 ROOM,432A,YISHUN AVE 1,07 TO 09,112.0,Improved,2015,660000.0
885419,2024-04,YISHUN,5 ROOM,298,YISHUN ST 20,01 TO 03,112.0,Improved,2000,585000.0
885420,2024-04,YISHUN,5 ROOM,335C,YISHUN ST 31,13 TO 15,112.0,Improved,2015,673800.0
885421,2024-04,YISHUN,5 ROOM,502D,YISHUN ST 51,07 TO 09,112.0,Improved,2018,725000.0
885422,2024-04,YISHUN,EXECUTIVE,652,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,1080000.0

In [5]:
df.drop('block', axis='columns', inplace=True)
df.drop('street_name', axis='columns', inplace=True)
df

,month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,10 TO 12,31.0,IMPROVED,1977,9000.0
1,1990-01,ANG MO KIO,1 ROOM,04 TO 06,31.0,IMPROVED,1977,6000.0
2,1990-01,ANG MO KIO,1 ROOM,10 TO 12,31.0,IMPROVED,1977,8000.0
3,1990-01,ANG MO KIO,1 ROOM,07 TO 09,31.0,IMPROVED,1977,6000.0
4,1990-01,ANG MO KIO,3 ROOM,04 TO 06,73.0,NEW GENERATION,1976,47200.0
...,...,...,...,...,...,...,...,...
885418,2024-04,YISHUN,5 ROOM,07 TO 09,112.0,Improved,2015,660000.0
885419,2024-04,YISHUN,5 ROOM,01 TO 03,112.0,Improved,2000,585000.0
885420,2024-04,YISHUN,5 ROOM,13 TO 15,112.0,Improved,2015,673800.0
885421,2024-04,YISHUN,5 ROOM,07 TO 09,112.0,Improved,2018,725000.0
885422,2024-04,YISHUN,EXECUTIVE,07 TO 09,181.0,Apartment,1992,1080000.0