In [36]:
#imports 
import pandas as pd 
import matplotlib as plt

In [37]:
#load data
prices1999 = pd.read_csv('data-csv/ResaleFlatPricesBasedonApprovalDate19901999.csv')
prices2012 = pd.read_csv('data-csv/ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv')
prices2014 = pd.read_csv('data-csv/ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv')
prices2017 = pd.read_csv('data-csv/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')

In [56]:
#need to combine all the data (drop street name)
df1999 = prices1999
df2012 = prices2012
df2014 = prices2014
df2017 = prices2017

#drop remaining lease column (because only >2017 has this column will recalc later)
df2017.drop('remaining_lease', axis=1, inplace=True)
df2017

# df = pd.concat([df1999,df2012,df2014,df2017],ignore_index=True)
# df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
176368,2024-04,YISHUN,5 ROOM,432A,YISHUN AVE 1,07 TO 09,112.0,Improved,2015,90 years 07 months,660000.0
176369,2024-04,YISHUN,5 ROOM,298,YISHUN ST 20,01 TO 03,112.0,Improved,2000,75 years 08 months,585000.0
176370,2024-04,YISHUN,5 ROOM,335C,YISHUN ST 31,13 TO 15,112.0,Improved,2015,90 years 08 months,673800.0
176371,2024-04,YISHUN,5 ROOM,502D,YISHUN ST 51,07 TO 09,112.0,Improved,2018,92 years 10 months,725000.0
176372,2024-04,YISHUN,EXECUTIVE,652,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,67 years 03 months,1080000.0